@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");
* {
  font-family: "Baloo Chettan 2", cursive;
}
body {
  margin: 0 15% 0 15%;
  font-size: 14px;
}
.hidden {
  display: none;
}
textarea {
  display: block;
}

.currentLocation,
.originalLocation,
.structureIdentification,
.member
{
  cursor: pointer;
  display: block;
  align-items: center;
  padding: 0.5%;
  border-radius: 5px;
}

.structureIdentification,
.currentLocation, .member {
  font-size: 20px;
  background-color: #f0ecec;
  border: 1px solid #cccccc;
  padding: 0.5%;
  border-radius: 5px;
  color: #1a1616;
  display: block;
  align-items: center;
}
.originalLocation {
  font-size: 16px;
  background-color: #f7f5f5;
  border: 1px solid #d4d2d2;
  color: #3e3636;
}



